:root{
    --cor0:#5521af;
    --cor1:#390099;
    --cor2:#FF5400;
    --cor3:#FFBD00;
    --cor4:#9E0059;
    --cor5:#FF0054;
}
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    
}
@font-face {
    font-family: balao;
    src: url('fontes/ffx-balloon-engraved.ttf');
}
h1{
    color: white;
    font-family: balao;
    font-size: 6em;
    font-weight: 100;
    text-align: center;
    line-height: 200px;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}
h4{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 100px;
}
p{
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
}
iframe{
    height: 400px;
    width: 75%;
    margin: auto;
    display: block;
}
header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(90deg, #390099, #42168d);
}
main{
    margin: auto;
    width: 90vw;
    text-align: justify;

}
footer{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, #390099, #42168d);
}
table{
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin: auto;
}